// COLOR VARIABLES
$color-light-purple: #cb99cc;
$color-ligt-pink: #cc6497;
$color-light-blue: #9698fd;
$color-red: #cc6566;
$color-orange: #ff9a66;
$color-black: #000;
$color-yellow: #fccd97;
$color-TNG-heading: #008bfe;

// FONT VARIABLES
$font-primary: 'NovaLightUltra', sans-serif;
$font-heading: 'TNGCredits', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-1400: 87.5em; // 1400px
$bp-1300: 81.25em; // 1300px
$bp-1200: 75em; // 1200px
$bp-1000: 62.5em; // 1000px
$bp-900: 56.25em; // 900px
$bp-800: 50em; // 800px;
$bp-700: 43.75em; // 700px;
$phone: 37.5em; // 600px;
$bp-400: 25em; // 400px;

@mixin phone {
  @media only screen and (max-width: 37.5em) {
    @content;
  }
}

@mixin smallphone {
  @media only screen and (max-width: 25em) {
    @content;
  }
}

