@import '../../sass-styles/base';

@mixin nav-link {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 3.5rem;
  text-align: end;
  margin: 0.8rem 1.5rem;
}

.main {
  margin-top: 0.7rem;
  display: grid;
  grid-template-rows: repeat(14, minmax(4rem, max-content));
  grid-template-columns: repeat(12, minmax(min-content, 1fr));
  grid-gap: 0.7rem;
}

.topLeft {
  grid-column: 1 / 7;
  grid-row: 1 / 3;
  background-color: $color-red;
  border-top-left-radius: 5rem;

  @include phone {
    grid-column: 1 / 4;
  }
}

.topMiddle {
  grid-column: 7 / 10;
  grid-row: 1 / 3;
  background-color: $color-light-blue;

  @include phone {
    grid-column: 4 / 9;
  }

  &__text {
    @include nav-link();
  }
}

.topRight {
  grid-column: 10 / 13;
  grid-row: 1 / 3;
  background-color: $color-ligt-pink;

  @include phone {
    grid-column: 9 / 13;
  }

  &__text {
    @include nav-link();
  }
}

.sidebar--top {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  background-color: $color-red;
  z-index: 1;
  border-top-left-radius: 5rem;
}

.sidebar--middle {
  grid-column: 1 / 4;
  grid-row: 4 / 8;
  background-color: $color-orange;
}

.sidebar--bottom {
  grid-column: 1 / 4;
  grid-row: 8 / -1;
  background-color: $color-light-blue;
}

// .bottom {
//   grid-column: 3 / 13;
//   grid-row: 13 / -1;
//   background-color: $color-light-blue;
// }

.main__container {
  grid-column: 3 / 13;
  grid-row: 2 / -1;
  background-color: $color-black;
  z-index: 5;
  border-top-left-radius: 5rem;
  padding: 2rem;
}
