@font-face {
  font-family: "NovaLightUltra";
  src: local("NovaLightUltra"),
    url(./assets/fonts/NovaLightUltra/NovaLightUltraSSiLightUltraCondensed.ttf)
      format("truetype"),
    url(./assets/fonts/NovaLightUltra/NovaLightUltraSSiLightUltraCondensed.eot),
    url(./assets/fonts/NovaLightUltra/NovaLightUltraSSiLightUltraCondensed.eot?#iefix)
      format("embedded-opentype"),
    url(./assets/fonts/NovaLightUltra/NovaLightUltraSSiLightUltraCondensed.woff)
      format("woff");
}

@font-face {
  font-family: "TNGCredits";
  src: local("TNGCredits"),
    url(./assets/fonts/TNGCredits/Krupper.ttf) format("truetype"),
    url(./assets/fonts/TNGCredits/Krupper.eot),
    url(./assets/fonts/TNGCredits/Krupper.eot?#iefix)
      format("embedded-opentype"),
    url(./assets/fonts/TNGCredits/Krupper.woff) format("woff");
}

@font-face {
  font-family: "Tkclscrd";
  src: local("Tkclscrd"),
    url(./assets/fonts/TKCLSCRD/TKCLSCRD.ttf) format("truetype"),
    url(./assets/fonts/TKCLSCRD/TKCLSCRD.eot),
    url(./assets/fonts/TKCLSCRD/TKCLSCRD.eot?#iefix) format("embedded-opentype"),
    url(./assets/fonts/TKCLSCRD/TKCLSCRD.woff) format("woff");
}

body {
  margin: 0;
  font-family: "NovaLightUltra", sans-serif;
  font-size: 1.6rem;
  background-color: #000000;
  color: #ffffff;
  margin: 2rem;
}
